

  <div class="product">
        
          <div class="product__1">
              <img class="glassImage" src={{glassImageDir}} alt="">
              <div class="buttons">
                 <a href="/checkout" class="buttons__buttonBuyNow">
                  <p>COMPRAR AHORA</p>
                  </a>

                 <a class="buttons__addToCar"  data-name="{{this._id}}" href="#">
                     <p>AÑADIR AL CARRITO</p>
                 </a>
            
              </div>
          </div>

          <div class="product__2">

              <div class="Product__name">
              <p class="name__lastname">{{lastName}}</p>
              <h1 class="name__mainname">{{mainName}}</h1>

              </div>

              <p class="name__price">$ {{price}}</p>


              <img class="Product__caracteristics" src={{caracImageDir}} alt="">

              <div class="Product__recomendations">
                  <p>También te puede interesar</p>

                  <div class="recomendations__products">
                      <img src={{glassImageRecomendation}} alt="">
                      <img src={{glassImageRecomendation2}} alt="">
                       <img src={{glassImageRecomendation3}} alt="">

                  </div>
              </div>
          </div>
        

  </div>

 <script src="/scripts/header.js"></script>
  <script src="/scripts/product.js"></script>




    
