

  <div class="product">
        
          <div class="product__1">
              <img class="glassImage" src={{glassImageDir}} alt="">
              <div class="buttons">
                 <a href="#" class="buttons__buttonBuyNow">
                  <p>COMPRAR AHORA</p>
                  </a>

                 <a class="buttons__addToCar" href="#">
                     <p>AÑADIR AL CARRITO</p>
                 </a>
            
              </div>
          </div>

          <div class="product__2">

              <div class="Product__name">
              <p class="name__lastname">{{productNameLastName}}</p>
              <h1 class="name__mainname">{{productMainName}}</h1>
              </div>

              <img class="Product__caracteristics" src={{caracImageDir}} alt="">

              <div class="Product__recomendations">
                  <p>También te puede interesar</p>

                  <div class="recomendations__products">
                      <img src={{productRecomendDir1}} alt="">
                      <img src={{productRecomendDir2}} alt="">
                       <img src={{productRecomendDir3}} alt="">

                  </div>
              </div>
          </div>
        

  </div>


    
